.main-navbar{
    background-color: #7a99a3;
    height: 70px;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    
}

.logo-text{
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    margin-left: 15px;
    letter-spacing: 0.05em; 

}